---
layout: page.njk
permalink: /
---

{{ prismic | log }}

<section>
    <h1>Eleventy + Prismic template</h1>
    <p>Add prismic endpoint in .eleventy.js</p>
    <p>Check the <a href="https://github.com/prismicio-community/eleventy-plugin-prismic/blob/master/DOCUMENTATION.md" target="_blank">documentation</a> for more</p>
</section>
